/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

/* .lexend-deca-<uniquifier> {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */
/* 
.big-shoulders-<uniquifier> {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

p {
  margin-left: 20px;
  margin-top: 30px;
  color: hsla(0, 0%, 100%, 0.75);
}

/* IMAGES */
.sedan-img {
  margin-top: 30px;
  width: 60px;
  height: 40px;
  margin-left: 25px;
}

.SUV-img {
  margin-top: 30px;
  width: 60px;
  height: 40px;
  margin-left: 25px;
}

.luxury-img {
  margin-top: 30px;
  width: 60px;
  height: 40px;
  margin-left: 25px;
}

/* ALL BOXES */
.boxes {
  display: flex;
  flex-direction: row;
  text-align: start;
  color: white;
  padding: 20px;
  /* margin: 0 auto; */
}

/* SEDAN BOX */
.sedan-main-box {
  background-color: hsl(31, 77%, 52%);
  height: 500px;
  width: 305px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: column;
}

.sedan-content {
  display: flex;
  justify-content: center;
}

.sedan-h1 {
  margin-top: 20px;
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-right: 110px;
  font-size: 40px;
  font-weight: normal;
}

.sedan-p {
  letter-spacing: 2.5px;
  word-spacing: 2px;
  white-space: pre-line;
  border: 2px solid red;
  width: 240px;
  height: 200px;
}

/* SUV BOX */
.suv-main-box {
  background-color: hsl(184, 100%, 22%);
  height: 500px;
  width: 305px;
  display: flex;
  flex-direction: column;
}

.SUV-content {
  display: flex;
  justify-content: center;
}

.SUV-h1 {
  margin-top: 20px;
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-right: 160px;
  font-size: 40px;
  font-weight: normal;
}

.SUV-p {
  letter-spacing: 2.5px;
  word-spacing: 2px;
  white-space: pre-line;
  border: 2px solid red;
  width: 240px;
  height: 200px;
}

/* LUXURY BOX */
.luxury-main-box {
  padding: 20px;
  background-color: hsl(179, 100%, 13%);
  height: 500px;
  width: 305px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.luxury-content {
  display: flex;
  justify-content: center;
}

.luxury-h1 {
  margin-top: 20px;
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-right: 130px;
  font-size: 40px;
  font-weight: normal;
}

.luxury-p {
  letter-spacing: 2.5px;
  word-spacing: 2px;
  white-space: pre-line;
  border: 2px solid red;
  width: 240px;
  height: 200px;
}

/* BUTTONS */
.btn {
  /* display: flex; */
  /* margin-top: 400px; */
  border-radius: 20px;
  padding: 0 30px;
  margin-right: 50px;
}

#btn {
  margin-top: auto;
  align-self: center;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 50px;
}

.btn .sedan-btn {
  display: flex;
  justify-content: center;
  margin-right: 400px;
}
